body {
    font-family: verdana;
    font-size: smaller;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 4px;
}

div {
    display: inline-block;
    border: 1px dotted lightgrey;
    margin: 0px 0px 8px 0px;
}

div.logs {
    background: #E0E0FF;
}

div.container {
    width: 100%;
    position: relative;
}

div.attestation {
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    background: #D0FFD0;
    height: 50px;
    overflow: hidden;
    font-size: smaller;
}

div.claims {
    width: 50%;
    border: 2px solid black;
    border-radius: 8px;
    background: #E0E0E0;
    padding: 4px;
}

div.idcard {
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    background: #D0FFD0;
    height: 100px;
    overflow: hidden;
    font-size: smaller;
}

div.open {
    background: #FFD0D0;
}

div.completed {
    background: #FFFFD0;
}

div.approved {
    background: #D0FFD0;
}

div.evidence {
    font-size: smaller;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
