<html>
<link rel="stylesheet" href="stylesheet.css">
<body>

<form action={{ url }} method=POST>

<div class="container">
    <div style="float: left;">
        <h1>CommTrust</h1>
        <a href="/">home</a>
    </div>
    <div style="float: left; position: absolute; bottom: 0px;">
        <input type=text name=search value="{{ search  }}"> <input type=submit name=action value=search> <input type=submit name=action value=clear>
    </div>
    <div style="float: right;">
        {{ name }} <input type=submit name=action value=logout>
    </div>
</div>
