<html>
<link rel="stylesheet" href="stylesheet.css">
<body>

<form action={{ url }} method=POST>

<div class="container">
    <div style="float: left;">
        <h1>CommTrust</h1>
        <a href="/">home</a>
    </div>
    <div style="float: right;">
        {{ name }} <input type=submit name=action value=logout>
    </div>
</div>
