<html>
<link rel="stylesheet" href="stylesheet.css">
<body>

<form action={{ url }} method=POST>

<div class="container">
    <div style="float: left;">
        <h1>CommTrust</h1>
        <a href="/">home</a>
    </div>
    <div style="float: left; position: absolute; bottom: 0px;">
        {% if not name is empty %}<input type=text name=search value="{{ search  }}"> <input type=submit name=action value=search> <input type=submit name=action value=clear>{% endif %}
    </div>
    <div style="float: right;">
        {% if name is empty %}<input type=submit name=action value=login>{% else %}{{ name }} <input type=submit name=action value=logout>{% endif %}
    </div>
</div>
{% if not logs is empty %}
    <div class="container logs">
        <div style="float: left;">
        {% for log in logs %}
            {{ log['message'] }}<br>
        {% endfor %}
        </div>
        <div style="float: right;">
            <input type=submit name=action value=catch-up>
        </div>
    </div>
{% endif %}
